<%= form_for(@wish, :html => {:class => "form-horizontal", :multipart => true}) do |f| %>
  <% if @wish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wish.errors.count, "error") %> prohibited this wish from being saved:</h2>

      <ul>
      <% @wish.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field control-group">
    <%= f.label :title, :class => "control-label"%>
    <%= f.text_field :title, :class => "controls" %>
  </div>
  <div class="field control-group">
    <%= f.label :description, :class => "control-label"%>
    <%= f.text_area :description, :class => "controls" %>
  </div>
  <div class="field control-group">
    <%= f.label :url, :class => "control-label"%>
    <%= f.text_field :url, :class => "controls" %>
  </div>
  <div class="field control-group">
    <%= f.label :wish_image, :class => "control-label"%>
    <%= f.file_field :wish_image, :class => "controls" %>
  </div>
  <div class="actions control-group">
    <%= f.submit :class => "controls btn"%>
  </div>
<% end %>
