<div class="thumbnail">
  <%= if wish.url.blank? then
        image_tag wish.wish_image.url(:original)
      else
        link_to(image_tag(wish.wish_image.url(:original)), wish.url, :class => "thumbnail")
      end %>
  <div class="caption">
    <h5><%= wish.title %></h5>
    <p><%= t("activerecord.attributes.wish.wish_user_name") %>： <%= wish.wish_user_name %></p>
    <p><%= wish.description %></p>
    <p>
      <% if action_name == "like" %>
        <span class="badge badge-success">いいね回数 <%= wish.like %></span>
        <%= button_to(t("action.like"), {:controller => "wishes", :action => "like", :id => wish.id}, :remote => true,  :class => "btn btn-primary disabled", :disabled => true) %>
        <%= link_to t("action.edit"), edit_wish_path(wish), :class => "btn" %>
      <% else %>
        <span class="badge">いいね回数 <%= wish.like %></span>
        <%= button_to(t("action.like"), {:controller => "wishes", :action => "like", :id => wish.id}, :remote => true,  :class => "btn btn-primary") %>
        <%= link_to t("action.edit"), edit_wish_path(wish), :class => "btn" %>
      <% end %>
    </p>
  </div>
</div>