<p id="notice"><%= notice %></p>

<%= render 'sidebar' %>

<h1><%= t("activerecord.models.wish") + " " + t("action.list") %></h1>

<table>
  <tr>
    <th><%= tm("wish", "title")%></th>
    <th><%= tm("wish", "description")%></th>
    <th><%= tm("wish", "wish_image")%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wishes.each do |wish| %>
  <tr>
    <td><%= wish.title %></td>
    <td><%= wish.description %></td>
    <td><%= image_tag wish.wish_image.url(:original) %></td>
    <td><%= link_to t("action.show"), wish %></td>
    <td><%= link_to t("action.edit"), edit_wish_path(wish) %></td>
    <td><%= link_to t("action.destroy"), wish, method: :delete, data: { confirm: t("message.confirm") } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wish', new_wish_path %>
